:root {
    /* Global Font */
    --font: 'Segoe UI';

    --bk: rgb(231, 231, 231);
    --form-bk: rgb(200, 200, 200);
}

/* 
    Reset 
*/
* {
    margin: 0.3rem 0;
    padding: 0;
    text-align: center;
    font-family: var(--font);
}

hr {
    width: 100%;
}

/*
    body design
*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bk);
}


/*
    Table Design
*/
table,
th,
td {
    border: 2px solid darkslategrey;
    border-collapse: collapse;
}

table {
    width: 30rem;
}

tr {
    width: 100%;
    height: 3rem;
}

td {
    text-align: center;
}

/*
    Form design
*/
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--form-bk);
}

form input {
    height: 2rem;
    font-size: large;
    text-align: right;
}

form input[type="submit"] {
    text-align: center;
}